body {
    background-image: url("../../Content/images/background.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    color: white;
}

h2 {
    font-size: 5.0rem;
    padding-left: 5%;
    padding-top: 50px;
}

h1 {
    font-size: 2.2rem;
    padding-left: 5%;
    padding-right: 25%;
    padding-bottom: 20px;
}
h4 {
    text-align: left;
    font-size: 2.0rem;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 1%;
    margin: 0;
}
h5 {
    padding-top: 1%;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}
h3
{
    padding-left: 5%;
}

#kontener {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#informacja {
    margin-top: 100px;
    width: 100%;
    height: 280px;
}

label
{
    margin-left: 60px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 60px;
    resize: vertical;
    color: black;
}

input[type=submit] {
    background-color: #202020;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 60px;
}

input[type=submit]:hover {
    background-color: green;
}

#lewy {
    float: left;
    width: 50%;
    height: 620px;
}
#prawy {
    padding-top: 10%;
    float: right;
    width: 50%;
    height: 620px;
}
#lewyLogin {
    float: left;
    width: 50%;
    height: 230px;
}
#prawyLogin {
    padding-top: 5%;
    float: right;
    width: 50%;
    height: 230px;
    font-size: 2.0rem;
}
a 
{
    color: #FF5722;
    text-decoration: none;
}
