@{
    ViewBag.Title = "Informacje o bibliotece";
}
<link rel="stylesheet" type="text/css" href="~/Content/glowny.css" />
<h2>@ViewBag.Title.</h2>



<body>
    <div id="kontener">
        <div id="informacja">
            <h4>Serwis ten został utworzony w odpowiedzi na problem z jakim często spotykają się czytelnicy, czyli
            trudność w znalezieniu danego tytułu w lokalnej bibliotece. </h4>
            <h4>Nasz serwis rozwiązuje ten problem. Posiadamy dużą bazę tytułów, która sukcesywnie jest powiększana o następne pozycje.</h4>
            <h4>Wystarczy, że założysz konto, znajdziesz odpowiednią pozycję i wypożyczysz. Wszystko bez wychodzenia z domu i w pełni onLine.
            </h4>
        </div>
    </div>
</body>