@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/glowny.css"/>

<body>
    <div id="kontener">
        <div id="informacja">
            <h2>Odkryj wiele nowych tytułów i znajdź<br>klasyki literatury polskiej i zagranicznej.</h2>
			<h1>Biblioteka Online pozwala zamówić książkę gdziekolwiek jesteś.<br>Wypożycz i oddaj tytuł OnLine - bez wychodzenia z domu.</h1>
        </div>
    </div>
</body>
